Changelog:
    8/25/22 Downloaded node.js
followed the steps in https://www.youtube.com/watch?v=rQvOAnNvcNQ&ab_channel=Firebase
created register and login functions
login html page
    Some Things for later use:
Firebase Security Rules → https://goo.gle/30mZ4Mx
Firebase App Check for web → https://goo.gle/3zotPju
    8/26 still trying to get the server to work
    