body{
    color:black;
    background-color: lightgreen;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* background-image: url("../images/TWP_LooseLeaf.JPG");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;; */
}
h2{
    text-align: center;
    color: purple;
}
div.HomeImages{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
h1 a:link, h1 a:visited, h1 a:hover, h1 a:active{
    text-decoration: none;
}
h1 a:hover{
    color: pink;
}
button.Login{
    color: white;
    background-color:rgb(128,214,255);
    width: fit-content;
    border: 2px dotted purple;
}
/* figure out how to make it scale properly */
div.LoginButtons{
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    margin-top: 10%;
}
input.LoginEdit{
    background-color: orange;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.LoginFields{
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}
div.LD{/*LoginDescription*/
    color: salmon;
    font-family: monospace;
    font-size: 1.3em;
    position:absolute;
    right:3%;
    bottom: 5%;
}
img#TWPLogo{
    float: left;
    width: 50%;
}
button.UploadButton{
    position: absolute;
    top:40%;
    left: 40%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    font-size: 2em;
    background-color:rgb(128,214,255);
    width: fit-content;
    border: 2px dotted purple;
}
input.UploadEdit{
    background-color: orange;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.UploadFields{
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}
button.ForgotPassword{
    position: absolute;
    top:40%;
    left: 40%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    font-size: 2em;
    background-color:rgb(128,214,255);
    width: fit-content;
    border: 2px dotted purple;
}
input.ForgotPasswordEdit{
    background-color: orange;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.ForgotPasswordFields{
        height: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
}
button.ChangePassword{
    position: absolute;
    top:40%;
    left: 40%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    font-size: 2em;
    background-color:rgb(128,214,255);
    width: fit-content;
    border: 2px dotted purple;
}
input.ChangePasswordEdit{
    background-color: orange;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.ChangePasswordFields{
        height: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content:space-between;
}
div.NavBar{
    background-color: pink;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    /*fix navbar at bottom of viewport*/
    position: fixed;
    bottom: 5%;
}
div.ProfileNav{
    width: 30%;
    text-align: center;
}
div.ToReviewListNav{
    width: 30%;
    text-align: center;
}
div.OtherEssaysNav{
    width: 30%;
    text-align: center;
}
div.UploadNav{
    width: 30%;
    text-align: center;
}
div.FeedbackListNav{
    width: 30%;
    text-align: center;
}
div.EssayList{
    font-size: 1em;
    display:flex;
    width:90%;
    justify-content:space-around;
    position: fixed;
    margin-left: 5%;
    margin-right: 5%;
    top:50%;
}
div.Essay{
    text-align: center;
}
span.dontshow{
    color: lightgreen;
    font-size: 1em;
    /* border: 2px solid purple; */
}

.toast-container {
    position: fixed;
    top: 1rem;
    right: 1.5rem;
    display: grid;
    justify-items: end;
    gap: 1.5rem;
}
.toast {
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1;
    padding: 0.5em 1em;
    background-color: lightblue;
    animation: toastIt 3000ms cubic-bezier(0.785, 0.135, 0.15, 0.86) forwards;
}
@keyframes toastIt {
    0%,100%{
        transform: translateY(-150%);
        opacity: 0;
    }
    10%,90%{
        transform: translateY(0);
        opacity: 1;
    }
}