body{
    color:black;
    background-color: lightgreen;
}
button.Login{
    color: white;
    background-color:rgb(128,214,255);
    width: fit-content;
    border: 2px dotted purple;
}
/* figure out how to make it scale properly */
div.LoginButtons{
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    margin-top: 10%;
}
input.LoginEdit{
    background-color: orange;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.LoginFields{
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}
div.LD{/*LoginDescription*/
    color: salmon;
    font-family: monospace;
    font-size: 1.4em;
    position:absolute;
    right:10%;
    bottom: 30%;
}
img#TWPLogo{
    float: left;
    width: 50%;
}
button.UploadButton{
    position: absolute;
    top:40%;
    left: 40%;
    padding-top: 100px;
    padding-bottom: 100px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
    font-size: 2em;
    background-color:rgb(128,214,255);
    width: fit-content;
    border: 2px dotted purple;
}
input.UploadEdit{
    background-color: orange;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.UploadFields{
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}
div.NavBar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /*fix navbar at bottom of viewport*/
    position: fixed;
    bottom: 5%;
}
div.ProfileNav{
    width: 30%;
    text-align: center;
}
div.ToReviewListNav{
    width: 30%;
    text-align: center;
}
div.OtherEssaysNav{
    width: 30%;
    text-align: center;
}
div.UploadNav{
    width: 30%;
    text-align: center;
}
div.FeedbackListNav{
    width: 30%;
    text-align: center;
}
div.EssayList{
    display:flex;
    width:90%;
    justify-content:space-around;
    position: fixed;
    margin-left: 5%;
    margin-right: 5%;

    top:50%;
}
div.Essay{
    text-align: center;
}
span.dontshow{
    color: lightgreen;
    /* border: 2px solid purple; */
}