body{
    color:black;
    background-color: lightgreen;
}
button.Login{
    color: white;
    background-color:rgb(128,214,255);
    width: fit-content;
    border: 2px dotted purple;
}
/* figure out how to make it scale properly */
div.LoginButtons{
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
    margin-top: 10%;
}
input.LoginEdit{
    background-color: orange;
    margin-top: 10px;
    margin-bottom: 10px;
}
div.LoginFields{
    height: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-between;
}
img#TWPLogo{
    float: left;
    width: 50%;
}
div.NavBar{
    display: flex;
    width: 100%;
    justify-content: space-around;
    /*fix navbar at bottom of viewport*/
    position: fixed;
    bottom: 5%;
}
div.ProfileNav{
    width: 30%;
    text-align: center;
}
div.OtherEssays{
    display:flex;
    width:90%;
    justify-content:space-around;
    position: fixed;
    margin-left: 5%;
    margin-right: 5%;
    top:50%;

}